<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body align="middle">
    <h1 align="middle">Campus Placement Prediction and Analysis Using Random Forest Classifier</h1>
    <img src="https://vignan.ac.in/blog/images/march/placement1.png"alt="html">
    <h3 align="right">
        <a href="{{ url_for('index') }}" style="color: orange; font-size: 16px;">Next</a>
    </h3>
    
</body>
</html>
